.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--content-color);
}

.dashboard li {
  list-style-type: none;
  cursor: pointer;
  font-size: 2rem;
  text-align: left;
  padding: 2rem 2rem 2rem 0;
  margin-right: 3rem;
  border-bottom: 1px solid var(--content-color);
}

.dashboard li:hover {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
}

.dashboard-container {
  display: flex;
  width: 50rem;
}

.dashboard-header {
  font-size: 4rem;
  padding: 5rem;
  border-bottom: 1px solid var(--content-color);
  width: 50rem;
  text-align: center;
}

.dashboard-section-details {
    border-left: 1px solid var(--content-color);
    padding: 3rem;
}

.profile-details h2 {
    font-size: 2rem;
    font-weight: 500;
}

.txt-container {
    margin-top: 2rem;
    font-size: 2rem;
}

.text-row {
    display: flex;
    justify-content: space-between;
    width: 35rem;
    margin-top: 1rem;
}

.logout-btn {
    margin: 2.1rem 0;
    border: none;
    background-color: var(--alert-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.logout-btn:hover {
    background-color: #d45148;
    transition: 0.2s ease-in-out;
}

.active {
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .dashboard-container {
    flex-direction: column;
    width: 100%;
  }

  .dashboard-header {
    width: 100%;
    padding: 2rem;
  }

  .dashboard-sections ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboard-sections ul li {
    margin-right: 0;
    text-align: center;
    padding: 2rem;
  }

  .dashboard-section-details {
    border-left: none;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}