.landing-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px repeat(4, 1fr) 200px;
  grid-template-rows: repeat(1, max-content) repeat(3, 1fr) repeat(
      1,
      max-content
    );
  grid-template-areas:
    "nav nav nav nav nav nav"
    "contentarea contentarea contentarea contentarea contentarea contentarea"
    "contentarea contentarea contentarea contentarea contentarea contentarea"
    "contentarea contentarea contentarea contentarea contentarea contentarea"
    "footerarea footerarea footerarea footerarea footerarea footerarea";
}

nav {
  grid-area: nav;
}

aside {
  grid-area: sidebar;
}

section {
  grid-area: contentarea;
}

footer {
  grid-area: footerarea;
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .landing-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "nav nav nav"
      "contentarea contentarea contentarea"
      "contentarea contentarea contentarea"
      "contentarea contentarea contentarea"
      "footerarea footerarea footerarea";
  }
}
